<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="qualification">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.qualification" />
</label><br />
	<f:form.textfield property="qualification" /><br />
<label for="ratings">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.ratings" />
</label><br />
	<f:form.textfield property="ratings" /><br />
<label for="about">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.about" />
</label><br />
	<f:form.textarea property="about" cols="40" rows="15" /><br />
<label for="services">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.services" />
</label><br />
	<f:form.textarea property="services" cols="40" rows="15" /><br />
<label for="image">
	<f:translate key="tx_nutritionweb_domain_model_nutritionist.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>