<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid jumbotron">
    <div class="row">
        <f:image style="display: block;" src="{clients.photo.originalResource.publicUrl}" width="200"/>
    </div>
    <div class="data-container" style="margin-top: 1rem;">
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Name:</label> &nbsp;{clients.name}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Email:</label> &nbsp;{clients.email}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Age:</label> &nbsp;{clients.age}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Height:</label> &nbsp;{clients.height}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Weight:</label> &nbsp;{clients.weight}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">Blood Group:</label> &nbsp;{clients.bloodgroup}</span>
        <span style="display: block;"><label style="color: #013859;font-weight: 900;">BMI:</label> &nbsp;{clients.bmi}</span>
    </div>
</div>


</html>
