<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-nutrition-web" >
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.name" />
		</td>
		<td>
		{nutritionist.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.email" />
		</td>
		<td>
		{nutritionist.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.qualification" />
		</td>
		<td>
		{nutritionist.qualification}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.ratings" />
		</td>
		<td>
		{nutritionist.ratings}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.about" />
		</td>
		<td>
		{nutritionist.about}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nutritionweb_domain_model_nutritionist.services" />
		</td>
		<td>
		{nutritionist.services}
		</td>
	</tr>
</table>
</html>
