<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_nutritionweb_domain_model_clients.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_nutritionweb_domain_model_clients.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="age">
	<f:translate key="tx_nutritionweb_domain_model_clients.age" />
</label><br />
	<f:form.textfield property="age" /><br />
<label for="height">
	<f:translate key="tx_nutritionweb_domain_model_clients.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="weight">
	<f:translate key="tx_nutritionweb_domain_model_clients.weight" />
</label><br />
	<f:form.textfield property="weight" /><br />
<label for="bloodgroup">
	<f:translate key="tx_nutritionweb_domain_model_clients.bloodgroup" />
</label><br />
	<f:form.textfield property="bloodgroup" /><br />
<label for="bmi">
	<f:translate key="tx_nutritionweb_domain_model_clients.bmi" />
</label><br />
	<f:form.textfield property="bmi" /><br />
<label for="photo">
	<f:translate key="tx_nutritionweb_domain_model_clients.photo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>